<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>MyFirstPackage.NewTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AmazonSearchWithWindowsSwitch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DropDownUse</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RadioButtonUsage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckBoxUsage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LinkedInLoginVerification</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
