<h2>Methods that were not run</h2><table>
<tr><td>MyFirstPackage.NewTest.LinkedInLoginVerification</td></tr>
<tr><td>MyFirstPackage.NewTest.RadioButtonUsage</td></tr>
<tr><td>MyFirstPackage.NewTest.AmazonSearchWithWindowsSwitch</td></tr>
<tr><td>MyFirstPackage.NewTest.DropDownUse</td></tr>
</table>